[bumpversion]
current_version = 1.0.16
commit = True
tag = True
tag_name = v{new_version}
sign_tags = True

[bumpversion:file:library.json]
search = "version": "v{current_version}"
replace = "version": "v{new_version}"

[bumpversion:file:library.properties]
search = version=v{current_version}
replace = version=v{new_version}

[bumpversion:file:idf_component.yml]
search = version: "v{current_version}"
replace = version: "v{new_version}"

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:docs/Doxyfile]
search = PROJECT_NUMBER         = "v{current_version}"
replace = PROJECT_NUMBER         = "v{new_version}"

[bumpversion:file:README.md]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:docs/banner.svg]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:.github/ISSUE_TEMPLATE/bug_report.yml]
search = e.g. {current_version}
replace = e.g. {new_version}

[bumpversion:file:.github/SECURITY.md]
search = {current_version}
replace = {new_version}
